.main
{
    border: 3px solid black;
    border-radius: 10px;
    width: 50vw;
    margin: auto;
    gap: 4px;
    background-color: rgb(55, 51, 48);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}

.main div
{
    background-color: blueviolet;
    border-radius: 30px;
    background-color: silver;
    text-align: center;
    align-content: center;
}
#screen
{
    grid-row:1/5;
    grid-column:1/5;
}
 .one
{
    grid-column: 1/2;
    grid-row: 8/9;
    font-size: xx-large;
}
.two
{
    grid-column: 2/3;
    grid-row: 8/9;
    font-size: xx-large;
}
.three
{
    grid-column: 3/4;
    grid-row: 8/9;
    font-size: xx-large;
}
.four
{
    grid-column: 1/2;
    grid-row: 7/8;
    font-size: xx-large;
}
.five
{
    grid-column:2/3;
    grid-row: 7/8;
    font-size: xx-large;
}
.six
{
    grid-column:3/4;
    grid-row: 7/8;
    font-size: xx-large;  
}
.seven
{
    grid-column:1/2;
    grid-row: 6/7;
    font-size: xx-large;
}
.eight
{
    grid-column:2/2;
    grid-row: 6/7;
    font-size: xx-large;
}
.nine
{
    grid-column:3/4;
    grid-row: 6/7;
    font-size: xx-large;
}
.zero
{
    grid-column:1/2;
    grid-row: 9/10;
    font-size: xx-large;
}
.pm
{
    grid-column:2/3;
    grid-row: 9/10;
    font-size: xx-large;
    background-color: azure;
}
.point
{
    grid-column:3/4;
    grid-row: 9/10;
    font-size: xx-large;
    background-color: beige;
}
.equal
{
    grid-column:4/5;
    grid-row: 9/10;
    font-size: xx-large;
    background-color: aqua;
}
.plus
{
    grid-column:4/5;
    grid-row: 8/9;
    font-size: xx-large;
    background-color: rgb(196, 238, 238);
}
.minus
{
    grid-column:4/5;
    grid-row: 7/8;
    font-size: xx-large;
    background-color: burlywood;
}
.multi
{
    grid-column:4/5;
    grid-row: 6/7;
    font-size: xx-large;
    background-color: cadetblue;
}
.ac
{
    grid-column:1/2;
    grid-row: 5/6;
    font-size: xx-large;
}
.divide
{
    grid-column:2/3;
    grid-row: 5/6;
    font-size: xx-large;
}
.double
{
    grid-column:3/4;
    grid-row: 5/6;
    font-size: xx-large;
}
.percentage
{
    grid-column:4/5;
    grid-row: 5/6;
    font-size: xx-large;
} 
#screen:hover
{
    background-color: bisque;
    border: 4px solid goldenrod;
    color: crimson;
}
.main div:hover
{
    background-color: cadetblue;
    
}